.log,
.logger,
.pass,
.fail,
.test {
  color:black;
  width:100%;
  border-bottom-width: 1px;
  border-bottom-style:solid;
  border-bottom-color:black;
}
.pass {
  background:lightgreen;
}
.fail {
  background:lightpink;
}
.test {
  background:lightyellow;
}
.log {
  background:lightyellow;
}
.logger {
  background:lightyellow;
}