
body{ font: 10px Verdana, sans-serif; background-color: window;}

#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

#mozmillIcon { margin-right: 6px; margin-bottom: 6px;}

#dxContainer {margin-top: 16px; height: 160px;}

#inspectOptions {margin-right: 10px;}

#dxToggle {font-size: 12px;}

#outClear {margin-left: 20px;}

#runButton { position: relative; top: -3px; font-size: 12px;}

#elementStr { margin-bottom: 8px;}

#recordToggle { margin-left: 4px; position: relative; top: -3px; font-size: 12px;}

#outClear { position: relative; top: -3px;}

.menu { width:100%;font-size:12px; cursor: pointer; padding-top: 2px; padding-left: 4px; padding-right: 4px;}

.menuitem { cursor: pointer; padding-top: 2px; font-size: 12px; padding-bottom: 2px;}

.menuitem:hover { background-color: #E7E7E7;}

#editor {
  width: 500px;
  height: 540px;
}

#shellInput {
  width: 99%;
  height: 50px;
}

#shellOutput {
  overflow: auto;
  width: 99%;
  border: 1px solid #aaa;
}

.log,
.logger,
.pass,
.fail,
.test {
  width:98%;
}
.log:hover,
.logger:hover,
.pass:hover,
.fail:hover,
.test:hover {}
.pass {
  background:lightgreen;
}
.fail {
  background:lightpink;
}
.test {
  background:lightyellow;
}
.log {
  background:lightyellow;
}
.logger {
  background:lightyellow;
}
